<button class="button" (click)="ExportToCSV()">Export to Excel</button>
<!-- <table class="table table-sm  table-hover">
  <thead>
    <tr>
      <th scope="col">Farm</th>
      <th scope="col">Web App</th>
      <th scope="col">Url</th>
      <th scope="col">Active Banner</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let site of reportData">
      <td>{{site.FarmName}}</td>
      <td>{{site.WebApp}}</td>
      <td><a target="_blank" href="{{site.Url}}">{{site.Url}}</a></td>
      <td>{{site.IsWorkflowActive}}</td>
    </tr>
  </tbody>
</table> -->