
    <!-- <button type="button" class="btn btn-primary btn-sm" (click)="selectTab(1)" routerLink="attestation/12">Select second tab</button> -->
    <!-- <span routerLink="./../attestation/DD1885B9-69AF-469E-8BAE-819EE213DE66/1" (click)="TestClick()">click</span>
    <span routerLink="./../attestation/88D79697-147F-46B8-8C3F-777E75173CF1/2" (click)="TestClick()">click</span>     -->

<!-- <div class="example-header"> -->
        <!-- <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field> -->
      <!-- </div> -->
      
      <div class="example-container mat-elevation-z8">
      
        <mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="MessageType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Message Type</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.MessageType}} </mat-cell>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="Message">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Message</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Message}} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="SiteUrl">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Site</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.SiteUrl}} </mat-cell>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let row">               
                <!-- <span routerLink="{{row.ActionUrl}}">{{row.Action}} </span>   -->
                <button routerLink="{{row.ActionUrl}}">Confirm</button>  
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
      </div>
      
      
      <!-- Copyright 2018 Google Inc. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->