.peoplePickerLaunch{
    border: 1px solid;
    width: 215px;
    text-align: center;
    border-radius: 5px;
}

.inherited{
    color: gray;
}

.inherited>div:nth-child(2){
    margin-left: 30px;
}

.warningRed{
    padding: 0px 8px 0 8px;
    min-width: 200px;
    background-color: #fffe00;
    display: inline-flex;
}

.okButton{
    padding: 0px 8px 0 8px;
    min-width: 200px;
    background-color: #d8efca;
    display: inline-flex;
}

.confirmPendingButton{
    padding: 0px 8px 0 8px;
    min-width: 200px;
    background-color: #ddf4ff;
    /* #ddf4ff */
    display: inline-flex;
}

i {
    margin-right: 5px;
}

.red{
    color: red;
}

.darkGreen{
    color: #2c7300;
}