


            <div *ngIf="!contextSite.InheritOwnerAdmins && contextUser.Status === siteUserStatus.Confirmed" class="peoplePickerLaunch okButton" (click)="openPeoplePicker(contextSite, contextUser)">
                <div>
                    <i class="fas fa-check-circle darkGreen"></i>
                </div>
                <div>
                    {{contextUser.User.DisplayName}}
                </div>
            </div>
            <div *ngIf="!contextSite.InheritOwnerAdmins && contextUser.Status === siteUserStatus.Nominated" class="peoplePickerLaunch confirmPendingButton" (click)="openPeoplePicker(contextSite, contextUser)">
                    <div>
                        <i class="fas fa-exclamation-circle red"></i>
                    </div>
                    <div>
                        {{contextUser.User.DisplayName}}
                    </div>
            </div>
            <div *ngIf="!contextSite.InheritOwnerAdmins && contextUser.Status === siteUserStatus.NotSelected" class="peoplePickerLaunch warningRed" (click)="openPeoplePicker(contextSite, contextUser)">
                    <div>
                        <i class="fas fa-exclamation-circle red"></i>
                    </div>
                    <div>
                        NOT SELECTED
                    </div>
            </div>
            <div *ngIf="contextSite.InheritOwnerAdmins && (contextUser.Status === siteUserStatus.Nominated || contextUser.Status === siteUserStatus.Confirmed)" class="inherited">
                    <div>
                        
                    </div>
                    <div>
                        {{contextUser.User.DisplayName}}
                    </div>
            </div>              

