body{
    margin: 15px !important;
}

:host .dataHeader{    
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    font-weight: bold;
}