@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-form-field{
    margin-top: 10px;
  }
  
  .brentTest input{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
  }

  .brentTest input:focus {
    outline: none;
  }

  mat-form-field{
    margin-top: 0 !important;
  }

  .completer-row {
    padding: 0px !important;
    margin-top: 4px !important;
    clear: both;
    display: inline-block;
    width: 103%;
}

  :host >>> .completer-input {
    width: 100%;
    height: 40px;
    background-color: red !important;
    margin-top: 25px !important;
    }
    
    :host >>> .dropdown-menu {
      border: 0px !important;
    width: 750px !important;
    margin-top: 0px !important;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 450px !important;
    min-height: 450px !important;
    } 

    .completer-selected-row {
      background-color: #bee5eb !important;
      color: #000 !important;
    }