@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-form-field{
    margin-top: 10px;
  }
  
  .brentTest{
    width: 100%;
  }