<div>
  <div class="dataHeader mySitesHeader">
    <div>Url</div>
    <div>Role</div>
    <div>Status</div>
  </div>
</div>
<div>
    <div class="mySitesItem">
      <div>http://it100/deploy/subsite1</div>
      <div>Primary Administrator</div>
      <div>
          <div class="userStatusButton userNominated" routerLink="/attestation/88D79697-147F-46B8-8C3F-777E75173CF1/2/3">
              <div>
                  <i class="fas fa-exclamation-circle red"></i>
              </div>
              <div>
                  Brent Asplund
              </div>
      </div>
      </div>
    </div>
    <div class="mySitesItem">
        <div>http://it100/deploy/testsitecollection</div>
        <div>Secondary Administrator</div>
        <div>
            <div class="userStatusButton userConfirmed" routerLink="/attestation/DD1885B9-69AF-469E-8BAE-819EE213DE66/1/4">
                <div>
                    <i class="fas fa-check-circle darkGreen"></i>
                </div>
                <div>
                    Brent Asplund
                </div>
        </div>
        </div>
      </div>
</div>