.tabContainer{
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.tabContainer>div{
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    padding: 6px 12px 6px 12px;
    position: relative;
    top: 1px;
    border-radius: 7px 7px 0 0;
    background-color: #f2f2f2;
    cursor: pointer;
    outline:none;
}


.tabContainer>div:last-child{
    border-right: 1px solid;
    
}

.tabActive {
    border-bottom: 1px solid white !important;
    background-color: white !important;
}

/* .tab{
    background-color: #f2f2f2;
} */