<ul>
  <li>Getting <a target="_blank" href="http://goto.optum.com/SP2013LearningResources/SCA_learningmap">Trained</a></li>
  <li>Following <a target="_blank" href="http://goto.optum.com/SPGov">Governance</a> and <a target="_blank" href="http://goto.optum.com/SCRCNews/BestPractice">Best Practices</a></li>
  <li>Educating site owners on governance plan policies and standards</li>
  <li>Managing/supporting users of the site collection to remediate issues *The HelpDesk will be referring users who call in to you.  You will need to assist or have other admins or full control owners assist them</li>
  <li>Opening helpdesk tickets to the SharePoint Collaboration team for any issues that cannot be resolved by you or your other Admins</li>
  <li>Assisting our migration team on timing of any needed migrations</li>
  <li>Communicating to all owners/users messages received from our SharePoint team</li>
</ul>
<div>For more details, go <a target="_blank" href="http://goto.optum.com/scrc/SiteAdminGuide">here</a></div>