.site{
    width: 100%;
    display: inline-flex;
}

.site>div:nth-child(1){
    width: 100%;
}

.site>div>i{
    width: 12px;
}

.siteHeader{
    width: 100%;
    display: inline-flex;
    color: white;
    background-color: #333333;
    border-radius: 5px;
    margin-bottom: 10px;
}

.siteHeader>div:nth-child(1){
    width: 100%;
}

.userContainer{
    display: inline-flex;
}

.userContainer>div{
    Width: 212px;
    margin-right: 5px;
} 

.userContainer>div:nth-child(1){
    width: 40px;
}

.site{
    cursor: pointer;
    margin-bottom: 5px;
    height: 26px;
}

.site:hover{
    background-color: #e6e6e6;
}

.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.selected{
    background-color: rgba(0, 123, 255, 0.18);
}

span.empty{
    width: 9px; 
    display: inline-block;
}

.peoplePickerLaunchButton{
    height: 18px;
    display: inline-block;
}

.peoplePickerLaunch{
    border: 1px solid;
    width: 180px;
    text-align: center;
    border-radius: 10px;
}

.peoplePickerModal>div{
    margin-top: 10px;
}

.siteUserColumn{
    min-width: 200px;
    margin-left: 10px;
}

.siteUserColumnHeader{
    text-align: center;
    /* font-weight: bold; */
}

.inline{
    display: inline-flex;
}

.removeButton{
    margin-top: 15px;
    font-size: 20px;
    cursor: pointer;
}

.deleteButton{
    height: 34px;
    margin-left: 10px;
    margin-top: 10px;
}

.fieldTitle{
    color: gray;
    font-size: 13px;
}

.mat-form-field-infix {
    width: 100% !important;
 }
 .red{
     color: red;
 }

 .confirmContainer>div{
     margin-bottom: 10px;
 }

 .siteUserColumnHeader span{
     margin-left: 8px;
     color: gray;
 }

 .tooltip {
    outline: none;
    position: relative;
    color:red;
    width: 75px;
    min-width: 75px;
    max-width: 255px;
  }