
<div>
    <div class="site" >
        <div>
                <div>Url</div>
                <div class="userContainer">
                    <div>Inheritance</div>
                    <div>Owner</div>
                    <div>Primary Administrator</div>
                    <div>Secondary Administrator</div>
                </div>
        </div>

    </div>
    <ng-template #recursiveList let-list>
        <div *ngFor="let item of list
            let i=index;"  
            class="site">
            <div class="b" [class.selected]="item.isSelected">
                <div [style.margin-left]="getWidth(item.level)" (click)="toggleChildren($event, item.id)">
                        <!-- <i class="fas fa-angle-right"></i> -->
                        <i *ngIf="item.children.length > 0 && item.isOpen" class="fas fa-angle-down"></i>
                        <i *ngIf="item.children.length > 0 && !item.isOpen" class="fas fa-angle-right"></i>
                         {{item.url}}
                </div>
                <div class="userContainer">
                    <div><i class="fas fa-external-link-square-alt flipped"></i>&nbsp;<i class="fas fa-users"></i> </div>
                    <div>{{ item.owner }}</div>
                    <div>
                        
                    </div>
                    <div>
                        <!-- <dialog-overview-example-dialog></dialog-overview-example-dialog> -->
                    </div>
                </div>
            </div>      
        <div *ngIf="item.children.length > 0 && item.isOpen">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
        </div>
        </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
</div>
<div>
        <ol>
                <li>
                  <mat-form-field>
                    <input matInput [(ngModel)]="name" placeholder="What's your name?">
                  </mat-form-field>
                </li>
                <li>
                  <button mat-raised-button (click)="openDialog()">Pick one</button>
                </li>
                <li *ngIf="animal">
                  You chose: <i>{{animal}}</i>
                </li>
              </ol>
</div>

