<div class="modalCloseButton" (click)="onNoClick()"><i class="fas fa-times"></i></div>
<div class="peoplePickerModal">
        <div>
                <mat-form-field style="width: 100%" class="example-full-width">
                        <input matInput readonly placeholder="Site Collection Url" value="{{ data.site.Url }}">
                </mat-form-field>
        </div>
        <div class="inline">
                <div>
                        <mat-form-field style="width: 270px;" class="example-full-width">
                                <input matInput readonly placeholder="Role" value="{{ data.user.RoleName }}">
                        </mat-form-field>
                </div>
                <div>
                        <mat-form-field style="width: 450px;">
                                <i *ngIf="data.user.Role != 5 && (data.user.Status==status.Nominated || data.user.Status==status.NotSelected || data.user.UserIsInvalid)" class="fas fa-exclamation-circle red padRight"></i>
                                <i *ngIf="data.user.Status==status.Confirmed && !data.user.UserIsInvalid" class="fas fa-check-circle darkGreen padRight"></i>
                                <input *ngIf="draftUser" matInput readonly placeholder="Status" value="User must be Saved">
                                <input *ngIf="!draftUser" matInput readonly placeholder="Status" value="{{ data.user.StatusName }}">
                        </mat-form-field>
                </div>
        </div>
        <div *ngIf="draftUser" class="inline" style="margin-top: 10px;">
                <mat-form-field  style="width: 350px; top:3px;" class="example-full-width">
                                <input matInput readonly placeholder="User" value="{{ draftUser.DisplayName }}">                        
                </mat-form-field>        
                <div *ngIf="draftUser" class="removeButton" (click)="removeSelectedUser()">
                        <i class="far fa-times-circle"></i>
                </div>
        </div>  
        <div *ngIf="data.user.Status==status.Nominated" class="inline">
                <mat-form-field  style="width: 350px;" class="example-full-width">                                
                                <input matInput readonly placeholder="User" value="{{ data.user.User.DisplayName }}">                        
                </mat-form-field>
                <button *ngIf="!deleteConfirmIsVisible" class="button" (click)="deleteConfirmIsVisible = true">Delete</button>    
                <div *ngIf="deleteConfirmIsVisible" style="position:relative; top: -24px;">
                                <div class="red">Are you sure you want to delete this user?</div>
                                <button class="button" (click)="deleteConfirmIsVisible = false">Cancel</button>
                                <button class="button" (click)="DeleteSelectedUser()">Delete</button>
                </div> 
        </div>
        <div *ngIf="data.user.Status==status.Confirmed || data.user.Status==status.Invalid" class="inline" style="position: relative;">
                        <mat-form-field  style="width: 350px;" class="example-full-width">                                
                                        <input matInput readonly placeholder="User" value="{{ data.user.User.DisplayName }}">                        
                        </mat-form-field>
                        <button *ngIf="!deleteConfirmIsVisible" class="button" [disabled]="!isAdmin && (data.user.User.LoginName != loggedInUserLoginName && !data.user.UserIsInvalid)" (click)="deleteConfirmIsVisible = true">Delete</button>     
                        <div *ngIf="deleteConfirmIsVisible" style="position:relative; top: -24px;">
                                <div class="red">Are you sure you want to delete this user?</div>
                                <button class="button" (click)="deleteConfirmIsVisible = false">Cancel</button>
                                <button class="button" (click)="DeleteSelectedUser()">Delete</button>
                        </div>
                </div>
        <div>
                <div *ngIf="!draftUser && data.user.Status==status.NotSelected">
                        <div class="fieldTitle">Search for User</div>
                        <app-people-picker (onUserSelected)="userSelected($event)"></app-people-picker>
                </div>
                <div>       
                </div>
                <div *ngIf="draftUser" style="display: inline-flex">
                        <div *ngIf="!draftUserIsValid">
                                <ngb-alert [type]="'danger'"  [dismissible]="false">The Primary Administrator and Secondary Administrator cannot be the same person.</ngb-alert>
                        </div>
                        <div *ngIf="draftUserIsValid">
                                <button (click)="SaveUser()" [disabled]="false" class="button">Save</button>
                                <mat-spinner *ngIf="isSaving" [diameter]="35" class="spinner"></mat-spinner>
                        </div>                        
                </div>   
                <div *ngIf="data.user.Status == status.Confirmed && (data.user.User.LoginName != loggedInUserLoginName) && !data.user.UserIsInvalid">
                        <ngb-alert [type]="'info'" [dismissible]="false">Only the Confirmed user ({{ data.user.User.DisplayName}}) can Delete herself/himself from this role.</ngb-alert>
                </div>       
                <div *ngIf="data.user.Status == status.NotSelected && data.user.Role === 2">
                                <br>
                                <ngb-alert [type]="'info'" [dismissible]="false">The Site Owner's G/L will be charged for the Site Collection</ngb-alert>
                        </div>        
                <div *ngIf="data.user.UserIsInvalid">                        
                        <ngb-alert [type]="'danger'" [dismissible]="false"  [dismissible]="true">This user cannot be found in Active Directory and therefore is no longer a valid {{ data.user.RoleName }}.<br><br>This user must be Deleted, and a new user Nominated and Confirmed</ngb-alert>                                            
                </div>        
                <div class="confirmContainer" *ngIf="data.user.Status != status.Nominated && (isAdmin || data.user.User.LoginName === loggedInUserLoginName)">
                        <ng-container [ngSwitch]="data.user.Role">                                
                                <div *ngSwitchCase="3" class="confirmContainerText">
                                        <div>
                                                <div>The Primary Administrator is responsible for the following:</div>
                                                <app-admin-tc></app-admin-tc>
                                        </div>
                                </div>
                                <div *ngSwitchCase="4" class="confirmContainerText">
                                        <div>
                                                <div>The Secondary Administrator is responsible for the following:</div>
                                                <app-admin-tc></app-admin-tc>                                                
                                        </div>
                                </div>
                                <div *ngSwitchCase="5" class="confirmContainerText">
                                        <div>
                                                <div>An Optional Administrator is responsible for the following:</div>
                                                <app-admin-tc></app-admin-tc>                                                
                                        </div>
                                </div>
                        </ng-container>                        
                </div>

        </div>
        <div class="confirmContainer" *ngIf="data.user.Status==status.Nominated && (isAdmin || data.user.User.LoginName === loggedInUserLoginName)">
                <div>
                        <div class="confirmationContainer confirmationRequired">
                                <div><strong>Confirmation Required</strong></div>                                
                        </div>
                        <div class="confirmContainer" #confirmContainer>
                                <ng-container [ngSwitch]="data.user.Role">
                                        <div *ngSwitchCase="2" class="confirmContainerText">As the Site Owner, I understand that my G/L will be charged for the continued use of this Site Collection.</div>
                                        <div *ngSwitchCase="3" class="confirmContainerText">
                                                <div>
                                                        <div>As the Primary Administrator, I understand that I am responsible for the following:</div>
                                                        <app-admin-tc></app-admin-tc>     
                                                </div>
                                        </div>
                                        <div *ngSwitchCase="4" class="confirmContainerText">
                                                <div>
                                                        <div>As the Secondary Administrator, I understand that I am responsible for the following:</div>
                                                        <app-admin-tc></app-admin-tc>     
                                                </div>
                                        </div>
                                        <div *ngSwitchCase="5" class="confirmContainerText">
                                                <div>
                                                        <div>As an Optional Administrator, I understand that I am responsible for the following:</div>
                                                        <app-admin-tc></app-admin-tc>     
                                                </div>
                                        </div>
                                </ng-container>                                
                                <div><button class="button" (click)="ConfirmUser()">Agree and Confirm</button></div> 
                        </div>
                </div>
        </div>
        <div *ngIf="!isAdmin && (data.user.Status==status.Nominated && data.user.User.LoginName != loggedInUserLoginName)">
                <div class="confirmationRequired confirmationContainer">
                        <div><strong>Confirmation Required</strong></div>
                        <div>Only {{ data.user.User.DisplayName }} can confirm this nomination.</div>                        
                </div>
        </div>
</div>