
<div>
    <div>Show Full Url
        <mat-slide-toggle
            color="primary" (change)="toggleFullUrls($event)">
        </mat-slide-toggle>
    </div>
    <div>
        <div class="siteHeader">
                <div class="siteUserColumnHeader">Url</div>
                <div class="userContainer">
                    <div></div>
                    <div class="siteUserColumn siteUserColumnHeader">Business Owner<span><i class="fas fa-history"></i></span></div>
                    <div class="siteUserColumn siteUserColumnHeader">Site Owner<span><i class="fas fa-history"></i></span></div>
                    <div class="siteUserColumn siteUserColumnHeader">Primary Administrator<span><i class="fas fa-history"></i></span></div>
                    <div class="siteUserColumn siteUserColumnHeader">Secondary Administrator<span><i class="fas fa-history"></i></span></div>
                </div>
        </div>

    </div>
    <ng-template #recursiveList let-list>
        <div *ngFor="let item of list
            let i=index;">
            <div class="site" [hidden]="!item.isVisible" [class.selected]="item.isSelected">                
                <div [style.margin-left]="getWidth(item.level)" (click)="toggleChildren($event, item.ID)"
                tooltip="{{ item.Url }}" [delay]="500">
                        <i *ngIf="item.SubSites.length > 0 && item.isOpen" class="fas fa-angle-down"></i>
                        <i *ngIf="item.SubSites.length > 0 && !item.isOpen" class="fas fa-angle-right"></i>
                        <span *ngIf="item.SubSites.length === 0" class="empty"></span>   
                        <ng-container *ngIf="showFullUrls">{{item.Url}}</ng-container>             
                        <ng-container *ngIf="!showFullUrls">{{item.displayUrl}}</ng-container> 
                </div>
                <div class="userContainer">
                    <div>
                        <i *ngIf="item.InheritOwnerAdmins" (click)="toggleInheritance(item)" class="fas fa-external-link-square-alt flipped"
                        tooltip="This site inherits its Owner and Admins from its parent site. Click to break inheritance." [delay]="500"></i>
                        <i *ngIf="!item.InheritOwnerAdmins" (click)="toggleInheritance(item)" class="fas fa-users"
                        tooltip="This site does not inherit its Owner and Admins. Click to inherit from its parent site." [delay]="500"></i>
                    </div>
                    <div class="siteUserColumn">
                        <app-site-tree-user 
                            [site]="item"
                            [user]="businessOwner">
                        </app-site-tree-user>                          
                    </div>
                    <div class="siteUserColumn">
                        <app-site-tree-user 
                        [site]="item"
                        [user]="siteOwner">
                        </app-site-tree-user>                           
                    </div>
                    <div class="siteUserColumn">
                        <app-site-tree-user 
                        [site]="item"
                        [user]="primaryAdmin">
                        </app-site-tree-user>                           
                    </div>
                    <div class="siteUserColumn">
                            <app-site-tree-user 
                            [site]="item"
                            [user]="secondaryAdmin">
                        </app-site-tree-user>   
                    </div>
                </div>
            </div>      
        <div *ngIf="item.SubSites.length > 0">
                <!-- <div *ngIf="item.SubSites.length > 0 && item.isOpen"> -->
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.SubSites }"></ng-container>
        </div>
        </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
</div>

